
/.idea/
/cahyowhy-mini-blog-backend/tmp/
/cahyowhy-mini-blog-backend/log/
/cahyowhy-mini-blog-frontend/node_modules/
/cahyowhy-mini-blog-frontend/tmp/
/cahyowhy-mini-blog-frontend/dist/
/cahyowhy-mini-blog-backend/.idea/
/dump.rdb
/cahyowhy-miniblog-nuxt/node_modules/
/cahyowhy-miniblog-nuxt/.idea/
/cahyowhy-miniblog-nuxt/.nuxt/
