<div class="loading"></div>
{{#window-reset routeName=currentRouteName}}
  {{notification-container position="top-right" class="z-index"}}
  {{navbar-navigation id="navbar" action="onTransitionToSearch"}}
  {{outlet}}
  {{footer-foot}}
{{/window-reset}}
