{{!--
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
--}}
<title>{{model.title}}</title>
<meta id="meta-description" name="description" content='{{model.description}}'/>
<meta id="og-title" property="og:title" content='{{model.title}}'/>
<meta id="og-image" property="og:image" content='{{model.image}}'/>