<div class="work-section" id="work">
  <div class="container content-lg">
    <ul class="post-ul-category">
      <li><a class="btn btn-sm btn-primary">sains</a></li>
      <li><a class="btn btn-sm btn-primary">komedi</a></li>
      <li><a class="btn btn-sm btn-primary">sejarah</a></li>
      <li><a class="btn btn-sm btn-primary">gosip</a></li>
      <li><a class="btn btn-sm btn-primary">puisi</a></li>
      <li><a class="btn btn-sm btn-primary">pribadi</a></li>
      <li><a class="btn btn-sm btn-primary">mistis</a></li>
      <li><a class="btn btn-sm btn-primary">berita</a></li>
      <li><a class="btn btn-sm btn-primary">teknologi</a></li>
      <li><a class="btn btn-sm btn-primary">uncategorized</a></li>
    </ul>
    <div class="row margin-b-40">
      <div class="col-sm-12 textCenter">
        <h2>Postingan terfavorit</h2>
      </div>
    </div>
    <div id="post-container" class="row post">
      {{#each posts as |post|}}
        {{post-item
          idPost=post.id
          username=post.user.username
          createdAt=post.created_at
          likes=post.likeposts
          category=post.category
          img =  post.image
          title = post.title
          review = post.review
        }}
      {{/each}}
    </div>
    {{#if ifPostIsEmpty}}
      {{content-is-empty}}
    {{else}}
      <div class="btn-wrapper-post"><a onclick={{action "onLoadPost"}} class="btn-primary btn-medium btn">Load more</a>
      </div>
    {{/if}}
  </div>
</div>