<div class="work-section" id="post-main">
  <div class="container content-lg">
    {{#slider-horizontal height=50}}
      <li>{{#link-to 'post' class="btn btn-sm btn-primary"}}semua{{/link-to}}</li>
      <li>{{#link-to 'post.category' 0 class="btn btn-sm btn-primary"}}uncategorized{{/link-to}}</li>
      <li>{{#link-to 'post.category' 1 class="btn btn-sm btn-primary"}}sains{{/link-to}}</li>
      <li>{{#link-to 'post.category' 2 class="btn btn-sm btn-primary"}}komedi{{/link-to}}</li>
      <li>{{#link-to 'post.category' 3 class="btn btn-sm btn-primary"}}sejarah{{/link-to}}</li>
      <li>{{#link-to 'post.category' 4 class="btn btn-sm btn-primary"}}gosip{{/link-to}}</li>
      <li>{{#link-to 'post.category' 5 class="btn btn-sm btn-primary"}}puisi{{/link-to}}</li>
      <li>{{#link-to 'post.category' 6 class="btn btn-sm btn-primary"}}pribadi{{/link-to}}</li>
      <li>{{#link-to 'post.category' 7 class="btn btn-sm btn-primary"}}mistis{{/link-to}}</li>
      <li>{{#link-to 'post.category' 8 class="btn btn-sm btn-primary"}}berita{{/link-to}}</li>
      <li>{{#link-to 'post.category' 9 class="btn btn-sm btn-primary"}}teknologi{{/link-to}}</li>
    {{/slider-horizontal}}
    {{outlet}}
  </div>
</div>