<div class="work-section" id="work">
  <div class="container content-lg">
    <div class="mainsearch">
      <ul>
        <li><a>Orang</a></li>
        <li><a>Post</a></li>
        <li><a>Status</a></li>
      </ul>
    </div>
    <div class="mainsearch-detail">
      
    </div>
  </div>
</div>