<div class="width920 margin-top-130px">
  {{#create-status isTimeline=true route-action="checkStatusEmpty" imageProfile=imageProfile}}
    {{#if ifPostIsEmpty}}
      {{content-is-empty}}
    {{else}}
      <div class="btn-wrapper-post"><a onclick={{route-action "onLoadStatuses"}} class="btn-primary btn-medium btn">Load
        more</a>
      </div>
    {{/if}}
  {{/create-status}}
</div>