<!-- routeUserId => is the current route dashboard id -->
{{#create-status statuses=statuses routeUserId=routeUserId action="checkStatusEmpty" imageProfile=imageProfile}}
  {{#if ifPostIsEmpty}}
    {{content-is-empty}}
  {{else}}
    <div class="btn-wrapper-post"><a{{action "onLoadStatuses"}} class="btn-primary btn-medium btn">Load more</a></div>
  {{/if}}
{{/create-status}}