{{photo-collections userId=userId onAddImage=(action "onAddImage") onDelImage=(action "onDelImage")}}
<div class="create-status">
  <div class="pull-left">
    <img src="/img/no-image.png">
  </div>
  <div class="media-body">
			<textarea class="form-control">
			</textarea>
    <a class="btn btn-primary">Update status</a>
    <a class="btn btn-primary"><i class="ion ion-camera"></i>Tambah foto</a>
  </div>
</div>
<div class="status-wrapper">
  {{#each statuses as |status index|}}
    {{status-item
      username=status.user.username
      statustext=status.statustext
      statusId=status.id
      commentstatuses=status.commentstatuses}}
  {{/each}}
</div>