<div class="work-section width800" id="work">
  <div class="content-lg padding0px width800">
    <div id="post-container" class="post">
      <div class="button-fly-wrapper">
        <div class="btn-wrapper">
          {{#link-to 'dashboard.create-post' (query-params token=token userId=userId)
                     class="btn btn-lg btn-primary pull-right"}}
            <i class="ion-plus-round ion"></i>
          {{/link-to}}
        </div>
      </div>
      {{#each posts as |post|}}
        {{post-item
          idPost=post.id
          likes=post.likeposts
          category=post.category
          img =  post.img
          title = post.title
          description = post.description
        }}
      {{/each}}
    </div>
    <div class="btn-wrapper-post"><a onclick={{action "onLoadPost"}} class="btn-primary btn-medium btn">Load more</a>
    </div>
  </div>
</div>